---
import { ViewTransitions } from "astro:transitions";

interface Props {
  redirectLink: string;
  autoRedirectSeconds?: number;
  image: ImageMetadata;
}

const { redirectLink, autoRedirectSeconds = 0, image } = Astro.props;

if (autoRedirectSeconds > 0) {
  await new Promise((resolve) =>
    setTimeout(resolve, autoRedirectSeconds * 1000),
  );
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <ViewTransitions />
    <title>Image Page</title>

    {
      autoRedirectSeconds > 0 && (
        <meta
          http-equiv="refresh"
          content={`${autoRedirectSeconds};url=${redirectLink}`}
        />
      )
    }
  </head>
  <body>
    <main
      class="absolute left-1/2 flex min-h-dvh w-full max-w-md -translate-x-1/2 bg-gray-100">
      <img src={image.src} class="absolute -z-50 h-full w-auto" />
      <a class="self-center text-center text-xl font-bold" href={redirectLink}>
        {
          autoRedirectSeconds
            ? `auto redirect sec : ${autoRedirectSeconds}`
            : "no auto rediret click to continue"
        }
      </a>
      <slot />
    </main>
  </body>
</html>
